/* cardType */
.card__inner {
    display: flex;
    justify-content: space-between;
    /* 카드끼리 정렬 */
}

.card {
    width: 32%;
    background-color: #f5f5f5;
}

.card a.btn {
    display: inline-block;
    transition: all 0.4s ease;
}

.card a.btn:hover {
    background-color: rgba(235, 100, 100, 0.21);
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.1) translateX(10px);
}

.card__body {
    padding: 24px 20px;
}

.card__body .tit {
    font-size: 24px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.card__body .desc {
    font-size: 18px;
    line-height: 1.4;
    color: #666;
    margin-bottom: 20px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* parallax */
#cardType h2 {
    opacity: 1;
    /* transform: translateX(-100px); */
    transition: all 1s 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#cardType.parallax h2 {
    animation: h2 0.6s forwards;
}

@keyframes h2 {
    0% {
        opacity: 0.3;
        transform: translateX(-100px);
    }

    25% {
        opacity: 0.5;
        transform: translateX(100px);
    }

    50% {
        opacity: 0.7;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#cardType>p {
    opacity: 1;
    /* transform: translateX(100px); */
    transition: all 1s 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#cardType.parallax>p {
    animation: p 0.6s forwards;
}

@keyframes p {
    0% {
        opacity: 0.3;
        transform: translateX(100px);
    }

    25% {
        opacity: 0.5;
        transform: translateX(-100px);
    }

    50% {
        opacity: 0.7;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#cardType .card {
    opacity: 1;
    /* transform: translateY(200px) rotate(30deg) skew(20deg); */
    transition: all 1s 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#cardType.parallax .card {
    opacity: 1;
    transform: translateY(0px) rotate(0) skew(0);
}

@media(max-width:960px) {
    .card__inner {
        flex-wrap: wrap;
    }

    .card {
        width: 49%;
    }

    .card:last-child {
        display: none;
    }
}

@media(max-width:600px) {
    .card {
        width: 100%;
    }

    .card:first-child {
        margin-bottom: 20px;
    }

    .card__body {
        padding: 20px;
    }

    .card__body .desc {
        font-size: 16px;
    }
}